* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-left: 20px;
}

dialog {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.card {
    border: 1px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    position: relative;
}

.title,
.author,
.pages,
.read {
    margin-left: 10px;
}

.title {
    margin-top: 10px;
    font-size: 1.5rem;
}

.author {
    font-style: italic;
}

.pages {
    position: absolute;
    bottom: 5px;
}

.read {
    position: absolute;
    bottom: 5px;
    right: 5px;
}