* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-left: 20px;
}

dialog {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.card {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 200px;
}